
* {
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: white;
    margin: 100px auto;
    font-family: Raleway;
    padding: 40px;
    width: 70%;
    min-width: 300px;
}

h1 {
    text-align: center;
    color: black !important;
    font-weight: bolder;
    font-size: 40px;

}

input {
    padding: 15px;
    width: 100%;
    font-size: 25px ;
    font-family: Raleway;
    color: white; !important;
    border: 1px solid white;
    background: none;
    /*font-weight: bold;*/
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.tab {
    display: none;
    color: white;
    font-size: 30px;
}

button {
    background: none;
    color: white;
    border: 1px solid #aaaaaa;
    padding: 10px 20px;
    font-size: 25px;
    font-family: Raleway;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

#prevBtn {
    background: none;
    border: white;
}

/* Make circles that indicate the steps of the form: */
.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
    background-color: #4CAF50;
}
